/* ========== SIDEBAR ========== */
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    max-width: 300px;
    padding: 20px;
}

.logo-sidebar {
    text-align: center;
    margin-bottom: 50px;
}

.logo-sidebar h3 {
    color: var(--color-black);
    font-size: clamp(1rem, 2.5vw, 3.5rem);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-sidebar ul {
    list-style: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}

.nav-sidebar ul li a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 500;
    font-family: var(--font-heading), sans-serif;
}

.nav-sidebar ul li a:hover {
    cursor: pointer;

}

.nav-sidebar ul li .icon {
    color: var(--color-black);
    margin-right: 1rem;
    font-size: 1.2rem;
}


.logout-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    cursor: pointer;
    color: var(--color-white);
    background-color: black;
}

.logout-btn:hover {
    background-color: var(--color-primary);
    color: var(--color-black);
}

.logout-btn span {
    font-size: 1rem;

}


/* ========== Active link ========== */
.active-sidebar {
    border-radius: 10px;
    padding: 10px;
    background-color: var(--color-bg);
}


/* ========== MEDIA QUERIES ========== */

@media (max-width: 480px) {
    .sidebar {
        max-width: 80px;
        padding: 20px;
    }


    .nav-sidebar ul {
        gap: 50px;
        padding: 0;
    }

    .nav-sidebar ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-sidebar ul li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--color-black);
        font-family: var(--font-heading), sans-serif;
        font-size: 0.8rem;
    }

    .nav-sidebar ul li .icon {
        margin: 0 auto;
    }

    .nav-sidebar ul li span {
        display: none;
    }

    .logout-btn span {
        display: none;
    }

    .active-sidebar {
        border-radius: 5px;
        padding: 5px;
        background-color: var(--color-bg);
    }


}

