/* HEADER */
.about-us-header {
    background: linear-gradient(0deg, #000 10.02%, #F6AD55 100%);
}

.about-us-content-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    min-height: calc(70vh - 80px);
}

.about-us-content-header h1 {
    font-size: clamp(1.3rem, 2vw, 3rem);
}

.about-us-content-header p {
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    text-align: center;
    max-width: 800px;
}

/* MAIN */
.about-us-main {
    background-color: var(--color-black);
}

.about-us-section {
    padding: 100px 10%;
}

/* ROW */
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 120px;
}

.row.reverse {
    flex-direction: row-reverse;
}

.content {
    flex: 1;
}

/* IMAGE */
.image {
    flex: 1;
}

.image img {
    width: 100%;
    max-width: 550px;
    border-radius: 1rem;
}


/* CONTENT */
.content h2 {
    font-size: clamp(1.6rem, 2vw, 3rem);
    margin-bottom: 20px;
    color: var(--color-white);
}

.content p {
    font-size: 1rem;
    line-height: 1.7;
    max-width: 500px;
    color: var(--color-white);
}


/* RESPONSIVE */
@media (max-width: 480px) {

    .about-us-header {
        min-height: 50vh;
    }

    .about-us-content-header {
        min-height: 40vh;
        gap: 0.7rem;
    }

    .about-us-main {
        padding: 40px 10%;
    }

    .about-us-section {
        padding: 0;
    }

    .about-us-content-header p {
        width: 100%;
    }

    .row {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-bottom: 60px;
        text-align: center;
    }

    .row.reverse {
        flex-direction: column;
        text-align: center;
    }
}