.about-us-header {
    background: linear-gradient(0deg, #000 12.02%, #F6AD55 100%);
    min-height: 70vh;
}

.about-us-content {
    display: flex;
    min-height: calc(70vh - 80px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}