.search-result-card {
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;

    background: white;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);

    max-width: 500px;
    width: 100%;
    min-height: 170px;

    transition: transform 0.15s ease, box-shadow 0.2s ease;
}

.search-result-card-content h3,
.search-result-card-content p {
    color: black;
    margin-bottom: 0.5rem;

}

.search-result-card-content h3 {
    font-size: 1.5rem;
    text-align: center;
}



/* Mobiel */
@media screen and (max-width: 480px) {
    .search-result-card {
        flex-direction: column;
        width: 100%;
        max-width: 350px;
        min-height: auto;
        margin: auto;
    }

    .company-logo {
        max-width: 100%;
        height: auto;
    }

    .company-logo img {
        width: 100%;
        height: auto;
    }
}

