.company-card {
    display: grid;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    background: white;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);
    width: 500px;
    min-height: 170px;
    transition: transform 0.15s ease, box-shadow 0.2s ease;
}

.company-info h3,
.company-info p{
    color: black;
}

.company-info h3{
    font-size: 1.5rem;
}

.company-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 1rem;
    min-width: 400px;
    min-height: 200px;
}

.company-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    max-height: 200px;
    border-radius: 15px;

}

.company-logo img{
    max-width: 250px;
    max-height: 200px;
    border-radius: 15px;
}

@media screen and (max-width: 480px){

    .company-card {
        display: grid;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
        background: white;
        padding: 1rem;
        border-radius: 15px;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);
        width: 500px;
        min-height: 170px;
        transition: transform 0.15s ease, box-shadow 0.2s ease;
    }


}

