.company-page-header {
    height: 100vh;

}

.companies-page img {
    max-width: 250px;
    max-height: 200px;
    border-radius: 15px;
}

.companies-page {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 5rem;

}

.companies-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

}

@media screen and (max-width: 480px) {

    .companies-page {
        flex-direction: column;
        text-align: center;
        margin: 80px;
    }
}
