.dashboard-header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    margin-bottom: 20px;
    padding: 20px 20px;
    border-radius: 20px;
    color: var(--color-black);
    font-size: 1.2rem;
}

@media (max-width: 480px) {
    .dashboard-header-title {
        display: flex;
        justify-content: center;
        font-size: 1rem;
        text-align: center;
    }
}
