.account-info{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.first-colum,
.second-colum,
.third-colum{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 2.5rem;
}

.account-label{
    font-weight: bold;
    font-size: 1.1rem;
}

.account-button{
    margin-top: 1.8rem;
    padding: 0.8rem;
}
/* ========== ACCOUNT AVAILABILITIES ========== */

.account-schedule{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.account-availabilities{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    width: 100%;
}

.availability-row input{
    margin-bottom: 0.5rem;
}




/* ========== MEDIA QUERIES ========== */

@media (max-width: 480px) {
    .account-info{
        flex-direction: column;
    }
}