.account-info{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.first-colum,
.second-colum,
.third-colum{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.account-label{
    font-weight: bold;
    font-size: 1.1rem;
}

.account-button{
    margin-top: 1.8rem;
    padding: 0.8rem;
}