.info-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 2rem;
    min-width: 300px;
    max-width: 400px;
    min-height: 400px;
    border-radius: 15px;
    width: 100%;
    background-color: white;
    flex-wrap: wrap;
}

.info-card h3{
    color: black;
    font-size: 2rem;
}

.info-card p{
    color: black;
}

.info-card img{
    width: 100px;
    height: 100px;
}

.info-card:hover {
    box-shadow: 0 8px 25px rgba(246, 173, 85, 0.5);
    transition: 0.5s;
}

@media (max-width: 480px) {
    .info-card{
        flex-direction: column;
        text-align: center;
        max-width: 350px;
        min-height: 350px;


    }

}