/* ========== ACCOUNT AVAILABILITIES ========== */

.account-schedule {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20rem;
}

.account-availabilities {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.availability-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.availability-row {
    display: grid;
    grid-template-columns: 120px 1fr 1fr auto;
    align-items: center;
    gap: 1rem;
}

.btn {
    margin-top: 1.5rem;
    align-self: flex-end;
}

.service-btns {
    display: flex;
    gap: 1rem;

}

.account-availabilities h2 {
    margin-bottom: 1.2rem;
}

.availability-row input {
    margin-bottom: 0.5rem;
    width: 100%;
}

.closed-checkbox label {
    align-items: center;
    gap: 0.5rem;
    display: flex;
}

.closed-checkbox input {
    margin: 0;
    width: 16px
}

.service-row input {
    margin-bottom: 0.5rem;
}

@media (max-width: 480px) {

    .account-schedule {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5rem;
    }

    .first-colum,
    .second-colum,
    .third-colum {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        margin-bottom: 1rem;
    }

    .availability-row {
        grid-template-columns: 1fr;
        gap: 0.5rem;
        padding: 0.8rem 0;
        border-bottom: 1px solid #ddd;
    }

    .day-label {
        font-weight: 600;
        margin-bottom: 0.3rem;
    }

    .availability-row input[type="time"] {
        width: 15rem;
    }

    .closed-checkbox label {
        justify-content: flex-start;
    }

    .service-row input {
        margin-bottom: 0.5rem;
        width: 15rem;
    }

    .service-btns {
        display: flex;
        flex-direction: column;
    }

    .btn {
        width: 15rem;
        margin-top: 1.5rem;
    }
}