/* ========== ACCOUNT AVAILABILITIES ========== */

.account-schedule {
    display: flex;
    flex-direction: row;
    gap: 15rem;
}

.account-availabilities {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 100%;
}

.availability-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.availability-row {
    display: grid;
    grid-template-columns: 120px 1fr 1fr 1fr auto;
    align-items: center;
    gap: 1rem;
}


.services-btn {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.account-availabilities h2 {
    margin-bottom: 1.2rem;
}

.availability-row input {
    margin-bottom: 0.5rem;
    width: 100%;
}

.closed-checkbox label {
    align-items: center;
    gap: 0.5rem;
    display: flex;
}

.closed-checkbox input {
    margin: 0;
    width: 16px
}

.service-row input {
    margin-bottom: 0.5rem;
}

.delete-btn {
    background: var(--color-black);
    color: white;
    border: none;
    padding: 6px 10px;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}


/* ========== MOBILE RESPONSIVE ========== */
@media (max-width: 480px) {

    .account-schedule {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5rem;
    }

    .availability-row {
        grid-template-columns: 1fr;
        gap: 0.5rem;
        padding: 0.8rem 0;
        border-bottom: 1px solid #ddd;
    }

    .day-label {
        font-weight: 600;
        margin-bottom: 0.3rem;
    }

    .availability-row input[type="time"] {
        width: 15rem;
    }

    .closed-checkbox label {
        justify-content: flex-start;
    }

    .service-form {
        flex-direction: column;
    }

    .delete-btn{
        margin-left: 0.8rem;
    }

    .service-row input {
        margin-bottom: 0.5rem;
        width: 15rem;
    }

    .services-btn{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        max-width: 200px;
    }


}