.not-found {
    height: 100vh;
    background: linear-gradient(0deg, #000 12.02%, #F6AD55 100%);

}

.not-found-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}