/* ========== Company Page ========== */

.company-page-header {
    height: auto;
    background: linear-gradient(0deg, #000 12.02%, #F6AD55 100%);
}

.full-info-section {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.full-company-content {
    display: flex;
    flex-direction: column;
    color: var(--color-black);
    gap: 1rem;
}

.company-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 600px;
    height: auto;
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 1rem;
}

.company-info-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 1rem;
    max-width: 600px;
    height: auto;
}

.company-info-availabilities,
.company-info-services {
    display: flex;
    flex-direction: column;
}

.company-info-availabilities h3,
.company-info-services h3,
.company-info h2 {
    margin-bottom: 1rem;
}


/* ========== MEDIA QUERIES ========== */
@media (max-width: 480px) {

    .full-info-section {
        flex-direction: column;
    }

    .full-company-content {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .company-info {
        max-width: 100%;
    }

    .company-info-description {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .appointment-content{
        max-width: 400px;
        width: 100%;
        margin-bottom: 1rem;
    }


}
