/* ========== Company Header ========== */

.company-page-header {
    height: 100vh;
    background: linear-gradient(0deg, #000 12.02%, #F6AD55 100%);
}

.full-company-content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.appointment-content p {
    color: white;

}



/* ========== MEDIA QUERIES ========== */
@media screen and (max-width: 480px) {

    .company-page {
        flex-direction: column;
        text-align: center;
        margin: 80px;
    }

    .full-company-content {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
}
