/* ========== Company Page Layout ========== */

.company-page-header {
    min-height: 100vh;
    background: linear-gradient(to bottom, #F6AD55 0%, #000 88%);
    padding-bottom: 3rem;
}

/* ===== Header (bedrijf intro) ===== */

.company-header {
    max-width: 800px;
    padding: 5rem 2rem;
    text-align: center;
    color: var(--color-black);
    background-color: var(--color-white);
    margin: 2rem auto;
    border-radius: 15px
}

.company-header h1 {
    margin-bottom: 1rem;
    font-size: clamp(2rem, 4vw, 3.2rem);
}

.company-header p {
    max-width: 600px;
    margin: 0 auto;
    font-size: clamp(1rem, 2vw, 1.4rem);
}

/* ===== Main content ===== */

.full-info-section {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 3rem;
}

/* ===== Company details ===== */

.company-details {
    display: flex;
    flex-direction: column;
}

.company-info-description {
    display: flex;
    gap: 2rem;
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 1rem;
    max-width: 600px;
}

.company-info-availabilities,
.company-info-services {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.company-info-availabilities h2,
.company-info-services h2 {
    margin-bottom: 1rem;
}

/* Lists netjes maken */
.company-info-availabilities ul,
.company-info-services ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.company-info-availabilities li,
.company-info-services li {
    line-height: 1.6;
}

/* ===== Appointment aside ===== */

.appointment-content {
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 1rem;
}

.appointment-content h2 {
    text-align: center;
    margin-bottom: 1rem;
}

/* ========== MEDIA QUERIES ========== */

@media (min-width: 1024px) and (max-width: 1400px) {
    .full-info-section {
        flex-direction: column;
        padding: 0;
        max-width: 800px;
        margin: 4rem auto;
    }

    .appointment-content {
        margin: 0 auto;
    }

    .company-details {
        margin: 0 auto  ;
    }
}

@media (max-width: 768px) {
    .full-info-section {
        flex-direction: column;
        align-items: center;
    }

    .company-info-description {
        flex-direction: column;
        width: 100%;
    }


    .company-header {
        padding-top: 3rem;
        margin: 1rem;
    }
}

@media (max-width: 480px) {
    .company-header {
        padding-top: 3rem;
        margin: 1rem;
    }

    .company-details {
        width: 92%;
    }

    .appointment-content {
        margin-bottom: 1rem;
    }
}
