/* ========== Company Page ========== */

.company-page-header {
    height: auto;
    background: linear-gradient(0deg, #000 12.02%, #F6AD55 100%);
}

.full-company-content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.company-info{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: auto;
}

.appointment-content p {
    color: white;
}

.company-info-description{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.company-info-availabilities,
.company-info-services {
    display: flex;
    flex-direction: column;
}

.company-info-availabilities h3,
.company-info-services h3{
    margin-bottom: 0.8rem;
}



/* ========== MEDIA QUERIES ========== */
@media (max-width: 480px) {

    .company-page {
        flex-direction: column;
        text-align: center;
        margin: 80px;
    }

    .company-info{
        display: flex;
        flex-direction: column;
        max-width: 200px;
        margin: 2rem auto;
        height: auto;
    }

    .full-company-content {
        flex-direction: column;
        text-align: center;
    }


    .company-info-description{
        flex-direction: column;
    }
}
