.appointment-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.appointment-form h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.appointment-form label {
    margin-bottom: 1rem;
}

@media (max-width: 480px) {

    .appointment-form {
        width: 85%;
        text-align: center;
    }
}







