/* ========== HEADER ========== */
.app-header {
    min-height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
}

.header-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.header-content h1 {
    font-size: clamp(2rem, 5vw, 4rem);
}

.header-content p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}


/* INPUT */
.input-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-field-mobile {
    display: none;
}

.input-field-search,
.input-field-city,
.search-btn {
    padding: 15px;
    border: none;
    flex: 1 1 auto;
    min-width: 150px;
    outline: 0
}


.input-field-search {
    width: 400px;
}

.input-field-city {
    max-width: 200px;
    margin-left: -15%;
    border-radius: 0;
}

/* ========== SEARCH BTN ========== */
.search-btn {
    background: #fff;
    color: black;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    width: 80px;
}


/* ========== MEDIA QUERIES ========== */
@media (max-width: 480px) {

    /* ========== HEADER ========== */
    .header-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 1.5rem;
    }

    /* ========== INPUT ========== */
    .input-field {
        display: none;
    }

    .input-field-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .input-field-city {
        min-width: 400px;
        margin-left: 0;
        border-radius: 15px;
        border: none;
    }

    /* ========== SEARCH BTN ========== */
    .search-btn {
        min-width: 100px;
        margin-left: 0;
        border-radius: 15px;
        border: none;
        font-size: 1rem;
    }
}
