.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 20px 40px;
}

.logo {
    font-size: clamp(2rem, 4vw, 3rem);
    font-family: Kavoon, sans-serif;
    color: white;

}

.logo a {
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-links li {
    color: white; /* of je primary color */
    font-family: Karma, sans-serif;
    font-size: 1rem;
    list-style: none;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.active {
    color: white;
    border-bottom: 3px solid white;
}

.button-register {
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
}

@media (max-width: 480px) {
    /*HAMBUGER MENU*/
    .navbar {
        flex-direction: row;
        justify-content: center;
    }

    .hamburger {
        display: block;
        position: fixed;
        top: 20px;
        left: 30px;
        color: white;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background: #111;
        position: fixed;
        top: 60px;
        right: 0;
        left: 10px;
        width: 200px;
        padding: 20px;
        border-radius: 10px 10px 10px 10px;
    }

    .button-register {
        background-color: #F6AD55;
        padding: 10px;
        border-radius: 10px;
    }

    .nav-links.open {
        display: flex;
    }

    .hamburger.hidden {
        display: none;
    }
}

