/* ========== LOGIN PAGE ========== */

.login-page {
    background: linear-gradient(0deg, #000 12.02%, #F6AD55 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1rem;
}

.login-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 550px;
    min-height: 500px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 14px 12px 34px 3px #F6AD55;
}

.icon-back {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    position: absolute;
    left: 2rem;
    top: 2rem;
    color: white;
    cursor: pointer;
}

.login-container h1 {
    color: white;
    font-size: clamp(3rem, 2.5vw, 4rem);
    margin-bottom: 2rem;
}


.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-content h2 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    color: white;
    margin-bottom: 1rem;
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login-form input {
    width: 300px;
    min-width: 0;
    border: none;
    padding: 0.8rem;
    border-radius: 15px;
}

.password-wrapper {
    position: relative;
    display: inline-block;
}

.password-wrapper input {
    padding-right: 35px;
}

.toggle-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    font-size: 18px;
}

.login-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    margin-bottom: 0.5rem;
}

.forget-password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forget-password a {
    color: white;
    margin: 1rem;
}

.error-message {
    color: red;
}


/* =========================
   MOBILE (≤ 480px)
   ========================= */

@media (max-width: 480px) {
    .login-container {
        max-width: 350px;
    }


}