/* ========== RegisterForm ========== */

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 850px;
    width: 100%;
    height: auto;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 14px 12px 34.5px 0 #F6AD55;
    flex-shrink: 0;
    margin-bottom: 200px ;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    max-width: 500px;
    width: 100%;
}

.register-form-title {
    text-align: center;
    margin-top: 2rem;
    color: white;
}

.register-form-title h2 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    margin-bottom: 0.4rem;
}

.register-form-title p {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
    margin-bottom: 0.4rem;
}

.register-form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    gap: 0.8rem;
}

.register-form-inputs label {
    display: none;
}

.register-form ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
}

.register-form ul li {
    font-size: clamp(0.7rem, 2.5vw, 0.5rem);
}

.register-form-inputs input {
    border: none;
    height: 55px;
}

.register-form button{
    margin-top: 2rem;
    width: 500px;
    padding: 1rem 1rem;
}

.password-required {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.password-required li {
    color: white;
}



.password-input.error {
    border: 2px solid #e63946;
    background-color: #fff5f5;
}

.loading-message{
    text-align: center;
    color: white;
}

/* ========== MEDIA QUERIES ========== */
@media screen and (max-width: 480px) {
    .register-container{
        width: 350px;
    }

    .register-form{
        margin-bottom: 50px;
        max-width: 300px;
        width: 100%;
    }

    .register-form button{
        width: 100%;
    }

    .register-form-inputs input{
        width: 100%;
        height: 45px;
    }

    .register-form-inputs input::placeholder{
        color: black;
        font-size: 0.8rem;
    }



}


