/* ========== ACCOUNT INFO ========== */

.account-info {
    display: flex;
    flex-direction: column;
}

.account-info-compleet {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    margin-top: 0.8rem;
}

.account-info label {
    display: flex;
    flex-direction: column;
}

.account-info h2 {
    font-size: 1.5rem;
}

.company-data {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    max-width: 500px;
    width: 100%;
}

/* ========== PASSWORD FORM ========== */

.password-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}

.account-button {
    margin: 1rem 0 1rem 0;
}

.account-button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

@media (max-width: 480px) {

    .account-info-compleet {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        margin-top: 0.8rem;
    }

}

