.account-info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.account-info h2 {
    font-size: 1.5rem;
}

.company-data{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.account-button{
    margin: 1rem 0 1rem 0 ;

}
