.account-info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.account-info label {
    display: flex;
    flex-direction: column;
}

.account-info h2 {
    font-size: 1.5rem;
}

.company-data {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    max-width: 500px;
}

.account-button {
    margin: 1rem 0 1rem 0;
}
