.dashboard-today {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px 20px;
}

.dashboard-today article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    width: 100%;
    height: 150px;
    background-color: var(--color-primary);
    border-radius: 10px;
    gap: 20px;
}

.dashboard-today h3 {
    color: var(--color-black);
}

.dashboard-today p {
    color: var(--color-black);
    font-size: 1.5rem;
}

.dashboard-today .make-appointment {
    background-color: var(--color-black);
}

.dashboard-today .make-appointment:hover {
    background-color: var(--color-primary);
    transition: 0.4s;
}

.dashboard-today .make-appointment:hover h3 {
    color: var(--color-black);
    transition: 0.4s;
}

.dashboard-today .make-appointment h3 {
    color: white;
}

.today-table{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}







/*MEDIA QUERIES*/


@media (max-width: 480px) {

    .dashboard-header-title {
        display: flex;
        justify-content: center;
    }

    .dashboard-header-title h2 {
        color: var(--color-black);
        font-size: 0.8rem;
    }

    .dashboard-content-today {
        flex-direction: column;
        gap: 20px;
    }

    .dashboard-content-today article {
        max-width: 250px;
        height: 100px;
        gap: 10px;
    }

    .dashboard-content-today article h3{
        font-size: 0.8rem;
    }

    .dashboard-content-today article p{
        font-size: 1rem;
    }

}
