/* Fonts importeren */
@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Karma:wght@300;400;600;700&display=swap'); /* GLOBAL RESET */

/* GLOBAL RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* :root = Variabelen voor de hele app */
:root {
    --font-heading: 'Kavoon', serif;
    --font-body: 'Karma', serif;

    --color-primary: #F6AD55;
    --color-button: #000000;
    --color-text: #fffff;
    --color-bg: #ffffff;

    --border-radius-input: 15px;
    --border-radius-button: 10px;
    --border-line: 1px solid #000;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

/* Algemene stijl */
body {
    font-family: var(--font-body), sans-serif;
    color: var(--color-text);
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading), sans-serif;
    margin: 0;
}


button {
    background-color: var(--color-button);
    color: #fff;
    border: none;
    border-radius: var(--border-radius-button);
    padding: 10px 20px;
    cursor: pointer;
    font-family: var(--font-heading) serif;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--color-primary);
    color: var(--color-text);
}

input, textarea, select {
    border: var(--border-line);
    border-radius: var(--border-radius-input);
    padding: 10px;
    font-family: var(--font-body) serif;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}


