/* ========== ACCOUNT INFO ========== */

.account-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.account-info h2 {
    font-size: 1.5rem;
}

.account-info-data {
    display: grid;
    grid-template-columns: 1fr 1fr; /* links breder */
    gap: 1rem;
    width: 100%;
}

.company-data,
.password-form {
    width: 100%;
    max-width: none;
}

.account-info label {
    display: flex;
    flex-direction: column;
}

.company-data label {
    margin-bottom: 0.5rem;
}

.company-data legend,
.password-form legend {
    padding: 0.5rem;
}

.company-data fieldset {
    padding: 0.8rem;
}

/* ========== PASSWORD FORM ========== */

.password-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.password-form fieldset {
    padding: 0.6rem;
}


.password-wrapper-account {
    position: relative;
    display: inline-block;
}

.toggle-eye-account {
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
}

.toggle-eye-account:hover {
    background-color: transparent;
}

.account-button {
    margin: 1rem 0 1rem 0;
}

.account-button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}


/* =========================
   MOBILE (≤ 480px)
   ========================= */
@media (max-width: 480px) {
    .account-info-data {
        display: grid;
        grid-template-columns: 1fr; /* links breder */
        gap: 2rem;
        width: 100%;
    }

}

