/* ========== MAIN ========== */

.main {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.main h2 {
    color: #fff;
    font-size: clamp(2rem, 2.5vw, 3rem);
    margin-bottom: 1rem;
}

/* ========== SECTION 1 ========== */

.search-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.search-result-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

/* ========== SECTION 2 ========== */

.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 1rem;
    flex-wrap: wrap;
}

.how-it-works-grid {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}


/* ========== MEDIA QUERIES ========== */

@media (max-width: 480px) {

    /*MAIN*/

    /* ========== SECTION 1 ========== */
    .search-result {
        grid-template-columns: 1fr;
        margin: 0 16px 100px 16px;
    }

    .company-logo img {
        display: none;
    }

    /* ========== SECTION 2 ========== */
    .how-it-works {
        display: flex;
        flex-direction: column;
    }

    .how-it-works h2 {
        margin-bottom: 100px
    }
}






