/* ========== MAIN ========== */

.main {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.main h2 {
    color: #fff;
    font-size: clamp(2rem, 2.5vw, 3rem);
    margin-bottom: 2rem;
}

.main p {
    color: var(--color-text);
}

/* ========== SECTION 1 ========== */

.search-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 100px;
    width: 100%;
}

.search-result-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* 2 kolommen */
    gap: 2rem;

    width: 100%;
    max-width: 1100px;          /* breedte beperken */
    margin: 0 auto;             /* centreer de grid-container zelf */
    justify-items: center;      /* centreer items binnen de grid */
}

/* ========== SECTION 2 ========== */

.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 1rem 100px;
    width: 100%;
}

.how-it-works-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;    /* centreer horizontaal */
    gap: 1rem;

    width: 100%;
    max-width: 1100px;
    margin: 0 auto;             /* centreer de rij */
}

/* ========== MEDIA QUERIES ========== */

@media (max-width: 480px) {

    /* SECTION 1 */
    .search-result-grid {
        grid-template-columns: 1fr;
        margin: 0 16px 100px 16px;
        justify-items: stretch; /* cards vullen de breedte */
    }

    .company-logo img {
        display: none;
    }

    /* SECTION 2 */
    .how-it-works {
        flex-direction: column;
    }
    .how-it-works-grid{
        flex-direction: column;
        align-items: center;
    }

    .how-it-works h2 {
        margin-bottom: 2rem;
    }
}

