/* ========== MAIN ========== */

.main {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.main h2 {
    color: #fff;
    font-size: clamp(2rem, 2.5vw, 3rem);
    margin-bottom: 2rem;
}


/* ========== SECTION 1 ========== */

.search-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 100px;
}

.search-result-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
}

/* ========== SECTION 2 ========== */

.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 1rem 100px;
}

.how-it-works-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: center; /* centreer horizontaal */
    gap: 1rem;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

/* ========== MEDIA QUERIES ========== */

/* =========================
   TABLET (≤ 1024px)
   ========================= */

@media (max-width: 1024px) {

    .main {
        padding-top: 4rem;
    }

    /* SECTION 1 */
    .search-result-grid {
        grid-template-columns: 1fr;
        max-width: 900px;
        padding: 0 1.5rem;
    }

    /* SECTION 2 */
    .how-it-works-grid {
        grid-template-columns: 1fr 1fr;
        max-width: 700px;
        margin: 0 auto;
    }
}

/* =========================
   SMALL TABLET (≤ 768px)
   ========================= */

@media (max-width: 768px) {

    .search-result-grid {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }

    .how-it-works-grid {
        grid-template-columns: 1fr;
        max-width: 500px;
    }
}


/* =========================
   MOBILE (≤ 480px)
   ========================= */

@media (max-width: 480px) {

    /* SECTION 1 */
    .search-result {
        margin-bottom: 0;
    }

    .search-result-grid {
        grid-template-columns: 1fr;
        margin: 0 16px 100px;
        justify-items: stretch;
    }

    .company-logo img {
        display: none;
    }

    /* SECTION 2 */
    .how-it-works {
        flex-direction: column;
    }

    .how-it-works-grid {
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    .how-it-works h2 {
        margin-bottom: 2rem;
    }
}



