/* ========== NAVBAR ========== */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 20px 20px;
}


/* ========== LOGO ========== */
.logo {
    font-size: clamp(2rem, 4vw, 2.5rem);
    font-family: Kavoon, sans-serif;
    color: white;
    margin-top: 10px;
}

.logo a {
    color: white;
    text-decoration: none;
}

/* ========== NAV-LINKS ========== */
.nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-links li {
    color: white; /* of je primary color */
    font-family: Karma, sans-serif;
    font-size: 1rem;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.active {
    color: white;
    border-bottom: 2px solid white;
}

/* ========== HAMBURGER ========== */
.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.button-register {
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
}


/* ========== MEDIA QUERIES ========== */
@media (max-width: 480px) {

    .navbar {
        flex-direction: row;
        justify-content: center;
    }

    /* ========== HAMBURGER MENU========== */
    .hamburger {
        display: block;
        position: fixed;
        top: 20px;
        left: 10px;
        background-color: transparent;
    }

    .hamburger.hidden {
        display: none;
    }

    .hamburger span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: white;
        border-radius: 2px;
        margin: 5px 0;
        transition: transform 0.3s ease, opacity 0.2s ease;
    }

    .hamburger:hover {
        background-color: transparent;
    }

    .hamburger.open span:nth-child(1) {
        transform: translateY(8px) rotate(50deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        transform: translateY(-8px) rotate(-50deg);
    }

    /* ========== NAV-LINKS ========== */
    .nav-links {
        display: flex;
        flex-direction: column;
        background: #111;
        position: fixed;
        top: 60px;
        left: 10px;
        width: 200px;
        padding: 20px;
        border-radius: 10px;
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .nav-links.open {
        display: flex;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .button-register {
        background-color: #F6AD55;
        padding: 10px;
        border-radius: 10px;
    }
}

